Importing and Exploring Data

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('/Users/shukrullahsaifi/Desktop/CodeYou Projects/Final Capstone Data/us_house_Sales_data.csv')

In [2]:
df.shape

(3000, 16)

In [3]:
df.head()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
0,"$554,217","5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1 bds,3 ba,772 sqft,4757 sqft,1959,101,Townhouse,Z104635,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/80374762_zpid/
1,"$164,454","9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1 bds,1 ba,2348 sqft,3615 sqft,1969,46,Apartment,Z535721,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/86143665_zpid/
2,"$1,249,331","8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6 bds,1 ba,3630 sqft,9369 sqft,1990,59,Townhouse,Z900458,Mike Lee - Coldwell Banker,For Sale,https://www.zillow.com/homedetails/37082403_zpid/
3,"$189,267","232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2 bds,1 ba,605 sqft,8804 sqft,1958,119,Apartment,Z318589,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/39318132_zpid/
4,"$465,778","5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3 bds,2 ba,1711 sqft,9260 sqft,2020,26,Townhouse,Z899716,John Doe - RE/MAX,Pending,https://www.zillow.com/homedetails/22454634_zpid/

In [4]:
df.tail()

,Price,Address,City,Zipcode,State,Bedrooms,Bathrooms,Area (Sqft),Lot Size,Year Built,Days on Market,Property Type,MLS ID,Listing Agent,Status,Listing URL
2995,"$801,824","4167 Oak Ave, San Diego, TX 78499",San Diego,78499,TX,3 bds,4 ba,3318 sqft,6745 sqft,2022,61,Multi-Family,Z284935,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/50860042_zpid/
2996,"$843,703","5606 Pine Rd, Sacramento, CA 39627",Sacramento,39627,CA,6 bds,2 ba,900 sqft,8046 sqft,2012,64,Multi-Family,Z842214,Emily Davis - Century 21,Sold,https://www.zillow.com/homedetails/33603937_zpid/
2997,"$743,513","6230 Maple Dr, Fresno, TX 62804",Fresno,62804,TX,4 bds,3 ba,2921 sqft,2041 sqft,2005,48,Multi-Family,Z350999,Jane Smith - Keller Williams,Sold,https://www.zillow.com/homedetails/44710479_zpid/
2998,"$211,664","8683 Main St, San Diego, TX 99740",San Diego,99740,TX,2 bds,4 ba,701 sqft,1344 sqft,2017,117,Single Family,Z748192,Alex Johnson - Compass,Pending,https://www.zillow.com/homedetails/41368665_zpid/
2999,"$712,029","4392 Maple Dr, Los Angeles, NY 89198",Los Angeles,89198,NY,4 bds,3 ba,2967 sqft,8071 sqft,1985,32,Condo,Z876426,Alex Johnson - Compass,For Sale,https://www.zillow.com/homedetails/64854326_zpid/

In [5]:
df.nunique()

Price             2996
Address           3000
City                 5
Zipcode           2950
State                5
Bedrooms             6
Bathrooms            4
Area (Sqft)       2013
Lot Size          2542
Year Built          74
Days on Market     120
Property Type        5
MLS ID            2997
Listing Agent        5
Status               3
Listing URL       3000
dtype: int64

In [6]:
df.value_counts()

Price       Address                                 City           Zipcode  State  Bedrooms  Bathrooms  Area (Sqft)  Lot Size   Year Built  Days on Market  Property Type  MLS ID   Listing Agent               Status    Listing URL
$1,000,752  7904 Main St, San Francisco, IL 36860   San Francisco  36860    IL     6 bds     3 ba       660 sqft     1460 sqft  2006        58              Single Family  Z568508  John Doe - RE/MAX           Sold      https://www.zillow.com/homedetails/46257555_zpid/    1
$558,267    5074 Maple Dr, San Francisco, NY 35045  San Francisco  35045    NY     1 bds     3 ba       1502 sqft    7040 sqft  1975        106             Townhouse      Z785389  Alex Johnson - Compass      Pending   https://www.zillow.com/homedetails/55480155_zpid/    1
$554,405    6157 Main St, San Francisco, NY 61785   San Francisco  61785    NY     1 bds     4 ba       2317 sqft    3509 sqft  1961        24              Single Family  Z879240  Emily Davis - Century 21    For Sale  https://www.zillow.com/homedetails/12037296_zpid/    1
$556,136    9647 Pine Rd, Sacramento, CA 18659      Sacramento     18659    CA     4 bds     2 ba       2050 sqft    5927 sqft  1965        3               Single Family  Z991442  Alex Johnson - Compass      For Sale  https://www.zillow.com/homedetails/97208899_zpid/    1
$556,554    8740 Pine Rd, San Francisco, TX 56312   San Francisco  56312    TX     4 bds     1 ba       1460 sqft    3678 sqft  2007        80              Condo          Z149245  John Doe - RE/MAX           Pending   https://www.zillow.com/homedetails/54875995_zpid/    1
                                                                                                                                                                                                                                                                              ..
$1,467,813  9720 Elm St, Los Angeles, CA 56372      Los Angeles    56372    CA     4 bds     4 ba       1188 sqft    6887 sqft  1993        66              Condo          Z393489  Emily Davis - Century 21    For Sale  https://www.zillow.com/homedetails/11609743_zpid/    1
$1,469,257  1993 Maple Dr, Fresno, IL 38811         Fresno         38811    IL     5 bds     3 ba       635 sqft     1130 sqft  1990        42              Multi-Family   Z310222  Emily Davis - Century 21    Pending   https://www.zillow.com/homedetails/49182882_zpid/    1
$1,469,258  9798 Oak Ave, San Francisco, FL 44455   San Francisco  44455    FL     4 bds     4 ba       3211 sqft    9532 sqft  1979        25              Apartment      Z326095  Mike Lee - Coldwell Banker  Pending   https://www.zillow.com/homedetails/50840053_zpid/    1
$1,469,651  8244 Elm St, San Diego, IL 51725        San Diego      51725    IL     2 bds     1 ba       1760 sqft    5578 sqft  1977        42              Single Family  Z129666  Mike Lee - Coldwell Banker  Sold      https://www.zillow.com/homedetails/96831366_zpid/    1
$999,822    3099 Elm St, Los Angeles, NY 84171      Los Angeles    84171    NY     2 bds     1 ba       2610 sqft    9730 sqft  1959        18              Townhouse      Z617767  Mike Lee - Coldwell Banker  Pending   https://www.zillow.com/homedetails/56881958_zpid/    1
Name: count, Length: 3000, dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Price           3000 non-null   object
 1   Address         3000 non-null   object
 2   City            3000 non-null   object
 3   Zipcode         3000 non-null   int64
 4   State           3000 non-null   object
 5   Bedrooms        3000 non-null   object
 6   Bathrooms       3000 non-null   object
 7   Area (Sqft)     3000 non-null   object
 8   Lot Size        3000 non-null   object
 9   Year Built      3000 non-null   int64
 10  Days on Market  3000 non-null   int64
 11  Property Type   3000 non-null   object
 12  MLS ID          3000 non-null   object
 13  Listing Agent   3000 non-null   object
 14  Status          3000 non-null   object
 15  Listing URL     3000 non-null   object
dtypes: int64(3), object(13)
memory usage: 375.1+ KB

In [8]:
df.describe()

            Zipcode   Year Built  Days on Market
count   3000.000000  3000.000000     3000.000000
mean   55264.197333  1986.814333       61.199333
std    25923.967932    21.272252       34.890983
min    10006.000000  1950.000000        1.000000
25%    33363.500000  1968.000000       31.000000
50%    55467.500000  1987.000000       62.000000
75%    77692.250000  2006.000000       91.000000
max    99955.000000  2023.000000      120.000000

In [9]:
df["City"].value_counts()

City
Los Angeles      617
Sacramento       609
San Francisco    605
San Diego        586
Fresno           583
Name: count, dtype: int64

####

In [10]:
df[['City', 'Price']].value_counts()

City           Price
Fresno         $1,002,939    1
San Diego      $1,469,651    1
               $1,455,417    1
               $1,456,198    1
               $1,458,637    1
                            ..
Los Angeles    $552,626      1
               $554,124      1
               $554,163      1
               $563,715      1
San Francisco  $998,871      1
Name: count, Length: 3000, dtype: int64

In [11]:
df.isna().sum() *100/len(df)

Price             0.0
Address           0.0
City              0.0
Zipcode           0.0
State             0.0
Bedrooms          0.0
Bathrooms         0.0
Area (Sqft)       0.0
Lot Size          0.0
Year Built        0.0
Days on Market    0.0
Property Type     0.0
MLS ID            0.0
Listing Agent     0.0
Status            0.0
Listing URL       0.0
dtype: float64

In [12]:
df.dtypes.to_dict

<bound method Series.to_dict of Price             object
Address           object
City              object
Zipcode            int64
State             object
Bedrooms          object
Bathrooms         object
Area (Sqft)       object
Lot Size          object
Year Built         int64
Days on Market     int64
Property Type     object
MLS ID            object
Listing Agent     object
Status            object
Listing URL       object
dtype: object>

Fixing Column Names and Changing Column Data Types

In [13]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(r'[^\w]', '', regex=True)

In [14]:
df.rename(columns={'bedrooms': 'num_bedrooms', 'bathrooms': 'num_bathrooms', 'yearbuilt': 'year_built', 'areasqft': 'area_sqft', 'lotsize': 'lot_size', 'daysonmarket': 'days_on_market', 'propertytype': 'property_type'}, inplace=True)

In [15]:
df['num_bathrooms'] = df['num_bathrooms'].str.replace(r'\D+', '', regex=True)
df['num_bedrooms'] = df['num_bedrooms'].str.replace(r'\D+', '', regex=True)
df['area_sqft'] = df['area_sqft'].str.replace(r'\D+', '', regex=True)
df['lot_size'] = df['lot_size'].str.replace(r'\D+', '', regex=True)

In [16]:
df.dtypes.to_dict

<bound method Series.to_dict of price             object
address           object
city              object
zipcode            int64
state             object
num_bedrooms      object
num_bathrooms     object
area_sqft         object
lot_size          object
year_built         int64
days_on_market     int64
property_type     object
mls_id            object
listing_agent     object
status            object
listing_url       object
dtype: object>

In [17]:
df.drop(['mls_id', 'listing_agent', 'listing_url'], axis=1, inplace=True)

In [18]:
df.dtypes

price             object
address           object
city              object
zipcode            int64
state             object
num_bedrooms      object
num_bathrooms     object
area_sqft         object
lot_size          object
year_built         int64
days_on_market     int64
property_type     object
status            object
dtype: object

In [19]:
int_col = ['num_bedrooms', 'area_sqft', 'lot_size', 'price']
for col in int_col:
    df[col] = (
        df[col]
        .astype(str)
        .str.replace(r'[^\d]', '', regex=True)
        .replace('', np.nan)
        .astype('Int64')
    )

In [20]:
df['num_bathrooms'] = df['num_bathrooms'].astype(str).str.replace(r'[^0-9.]', '', regex=True).replace('', np.nan).astype(float)

In [21]:
df['address'] = df['address'].astype('string')
df['zipcode'] = df['zipcode'].astype('string')

In [22]:
cat_cols = ['city', 'state', 'property_type', 'status']
for col in cat_cols:
    df[col] = df[col].astype('category')

In [23]:
df.dtypes

price                      Int64
address           string[python]
city                    category
zipcode           string[python]
state                   category
num_bedrooms               Int64
num_bathrooms            float64
area_sqft                  Int64
lot_size                   Int64
year_built                 int64
days_on_market             int64
property_type           category
status                  category
dtype: object

Creating Some New Columns

In [24]:
df['house_age'] = 2025 - df['year_built']
df['price_per_sqft'] = df['price'] / df['area_sqft']
df.columns.to_list()

['price',
 'address',
 'city',
 'zipcode',
 'state',
 'num_bedrooms',
 'num_bathrooms',
 'area_sqft',
 'lot_size',
 'year_built',
 'days_on_market',
 'property_type',
 'status',
 'house_age',
 'price_per_sqft']

In [25]:
df.head()

,price,address,city,zipcode,state,num_bedrooms,num_bathrooms,area_sqft,lot_size,year_built,days_on_market,property_type,status,house_age,price_per_sqft
0,554217,"5926 Oak Ave, San Diego, CA 65383",San Diego,65383,CA,1,3.0,772,4757,1959,101,Townhouse,For Sale,66,717.897668
1,164454,"9583 Oak Ave, Fresno, IL 79339",Fresno,79339,IL,1,1.0,2348,3615,1969,46,Apartment,Sold,56,70.040034
2,1249331,"8224 Oak Ave, Sacramento, TX 87393",Sacramento,87393,TX,6,1.0,3630,9369,1990,59,Townhouse,For Sale,35,344.16832
3,189267,"232 Oak Ave, Fresno, TX 38666",Fresno,38666,TX,2,1.0,605,8804,1958,119,Apartment,Pending,67,312.838017
4,465778,"5446 Pine Rd, Los Angeles, CA 23989",Los Angeles,23989,CA,3,2.0,1711,9260,2020,26,Townhouse,Pending,5,272.225599

In [37]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool